<header>
  <nav>
    <%= link_to 'Monster of the Week Buddy', root_path, class: 'header__home-link' %>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
<% if notice %>
  <div class="notice"><%= notice %></div>
<% elsif alert %>
  <div class="alert"><%= alert %></div>
<% end %>
